.icon_logserver {background-position: 0 0;} .icon_logserver:hover {background-position: 0 -25px}
.icon_logserver_cr {background-position: 0 -52px;} .icon_logserver_cr:hover {background-position: 0 -77px}
.icon_logserver_cr_sl {background-position: 0 -104px;} .icon_logserver_cr_sl:hover {background-position: 0 -130px}
.icon_logserver_sr {background-position: 0 -77px;} .icon_logserver_sr:hover {background-position: 0 -103px}
.icon_logserver_rr {background-position: 0 -260px;} .icon_logserver_rr:hover {background-position: 0 -286px}
.icon_logserver_rr_sl {background-position: 0 -312px;} .icon_logserver_rr_sl:hover {background-position: 0 -338px}
.icon_logserver_exp {background-position: 0 -365px;} .icon_logserver_exp:hover {background-position: 0 -391px}
.icon_logserver_exp_err {background-position: 0 -418px;} .icon_logserver_exp_err:hover {background-position: 0 -443px}
.icon_logserver_exp_pirates {background-position: 0 -469px;} .icon_logserver_exp_pirates:hover {background-position: 0 -495px}

.abox_text {font-family: "Arial"; font-size: 12px; color: #888888;}
.abox_text_yellow {font-family: "Arial"; font-size: 12px; color: #aaaa00;}
.abox_text_red {font-family: "Arial"; font-size: 12px; color: #aa0000;}
.abox_text_green {font-family: "Arial"; font-size: 12px; color: #00aa00;}

.lsTable a {text-decoration: none;}
.lsTable th {background-image: url("//gf3.geo.gfsrv.net/cdne1/d03835718066a5a592a6426736e019.png"); display: table-cell; line-height: 28px; height: 28px; text-align: center;}
.lsTable td {padding-right: 2px; padding-left: 2px; border: 1px solid #0d1014;}
.lsTable {color: #848484;}
.lsTable tr:nth-child(odd) {background-color: #0d1014}
.lsTable tr:nth-child(even) {background-color: #111a21}
.lsLoginTable {margin-top: 10px;}
    
.tb-tabs-logserver-bat {background-position: 0px 0;}
.tb-tabs-logserver-bat:hover {background-position: 0px -54px;}
.tb-tabs-logserver-spy {background-position: -54px 0;}
.tb-tabs-logserver-spy:hover {background-position: -54px -54px;}
.tb-tabs-logserver-all-bat {background-position: -108px 0;}
.tb-tabs-logserver-all-bat:hover {background-position: -108px -54px;}
.tb-tabs-logserver-all-spy {background-position: -162px 0;}
.tb-tabs-logserver-all-spy:hover {background-position: -162px -54px;}
.tb-tabs-logserver-options {background-position: -216px 0;}
.tb-tabs-logserver-options:hover {background-position: -216px -54px;}
.tb-tabs-logserver-discord {background-position: -270px 0;}
.tb-tabs-logserver-discord:hover {background-position: -270px -54px;}
.tb-tabs-logserver-exp {background-position: -324px 0;}
.tb-tabs-logserver-exp:hover {background-position: -324px -54px;}

.icon_nf_link_logserver {height: 26px; width: 26px; margin: 0;}

li#EnvoiRC {position: absolute; left: 610px; z-index: 1;}
li#EnvoiRC > div {top: 0px !important; left: 1px !important;}

#lsContent {position: relative; z-index: 2; margin-top: 2px; margin-bottom: 5px; width: 650px; margin-left: 10px; background-color: #0d1014; border: 1px solid #000000; float: left;}
.tabContent {padding: 0 10px 0;}
#lsHeader {background: url(//gf1.geo.gfsrv.net/cdn63/10e31cd5234445e4084558ea3506ea.gif); no-repeat 0 0 #0d1014;}
#lsTitle {padding: 0; text-align: center; color: #6f9fc8; font-size: 13px; font-weight: 700; height: 28px; line-height: 28px;}
    
.lsLogout {color: #ff9600; position: absolute; font-size: 10px; font-style: italic; font-weight: 200; padding-left: 30px; cursor: pointer}

#tabs-logserver-options {position: relative; left: 266px;}
.col-pic-item{float:left;width:15px;height:15px;border:solid 1px #FFF;margin:0}.col-pic-picker{width:50px;height:50px;border:solid 2px #666}.col-pic-item:hover{border:solid 1px #0F0}.col-pic-palette{width:306px;border:solid 2px #666}.col-safe-item{float:left;width:40px;height:40px;border:solid 1px #FFF;margin:0}.col-safe-picker{width:50px;height:50px;border:solid 2px #666}.col-safe-item:hover{border:solid 1px #0F0}.col-safe-palette{width:210px;border:solid 2px #666}.col-pic-closer,.col-safe-closer{display:block;position:absolute;right:-12px;top:-12px;background:#fff;width:20px;height:20px;text-align:center;line-height:16px;border-radius:10px;text-decoration:none;color:#fff;background:#000}
